.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.mainDiv {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mlk {
  color: #000;
}
.ptu {
  color: rgb(63, 63, 185);
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .container {
    height: 70vh;
    width: 80%;
  }
}
